<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./cards.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <div class="center">
    <div class="cards" id="cards-main">
      <abbr class="acronym">HTML</abbr>
      <div>
        <def id="acronym-def">Hyper Text Mark-up Language</def>
      </div>
      <div id="alt-def">
        <p>Alternate Definition here.</p>
      </div>
      <div id="button-container">
        <button class="button" class="button" id="upvote"><span class="material-symbols-outlined">
          thumb_up
          </span>
        <button class="button" id="downvote"><span class="material-symbols-outlined">
          thumb_down
          </span></button>
        <button class="button"   id="comment"><span class="material-symbols-outlined">
          comment
          </span></button>
        <button class="button" id="save"><span class="material-symbols-outlined">
          save
          </span></button>
      </div>
    </div>
    
  </div>
  </section>
</body>

</html>